@font-face {
    font-family: 'Touche';
    src: url('../fonts/Touche-Light-BF642a2ebf8fe16.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    text-align: center;
    text-overflow: ellipsis;
    font-family: 'Touche',"Helvetica",  Arial, sans-serif;
}
a{
    text-decoration: none;
}
      
body{
    margin: 0px;
}
.grid-container{
    height: 2300px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 18% 20% 22% 15% auto;
    grid-template-areas: "header"
                         "images-slides"
                         "cards"
                         "content1"
                         "content2"
                         "footer"                 
}
.grid-item-header{
    background-color: white;
    grid-area: "header";
    display: flex;
    flex-direction: column;
}
.grid-item-images{
    grid-area: "images-slides";
    
}
.grid-item-cards{
    grid-area: "cards";

}
.grid-item-content1{
    background-color: white;
    grid-area: "content1";
    justify-items: center;  
    align-content: flex-start;
}
.grid-item-content2{
    grid-area: "content2";
    justify-items: center;  
    align-content: flex-start;
    border-top: 2px solid #dfdfdf;
}
.grid-item-footer{
    background-color: #12131a;
    grid-area: "footer";
}
.flex-header-item1{
    height: 40%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid rgb(235, 235, 235);
}
.flex-header-item2{
    height: 30%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid rgb(235, 235, 235);
}
.flex-header-item3 {
    height:30%;
    width: 100%;
    display: flex;
    background-color: #f7f7f7;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border-bottom:#929fa3 ;
    
}
.menu {
    display: flex;
    align-items: center;  
    position: relative;
    cursor: pointer;
  }
  
  .dropdown {
    display: none;
    flex-direction: column;  
    position: absolute;      
    top: 100%;               
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0.5em 0;
    margin: 0;
    list-style: none;
    min-width: 150px;
    z-index: 100;           
  }
  .dropdown li {
    padding: 0.5em 1em;
    white-space: nowrap;
  }
  .dropdown li:hover {
    background-color: #f1f1f1;
  }
  .menu:hover .dropdown {
    display: flex;
  }
.header-row1{
    display: flex; 
    justify-content: space-evenly;
    min-width: 40%;
    flex: 1;
    height: 100%;
    background-color: white;
    align-items: flex-start; 
    align-items: center;
    font-size: 80%;
    color: rgb(80, 80, 80);
    flex-wrap: wrap;
    justify-items: center;
}
.header-row2{
    display:inline-flex;
    background-color:  black;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    font-weight: bold;
    font-size: 90%;
    cursor: pointer;
}
.header-row3{
    display:flex;
    width: 20%;
    height: 100%;
    background-color: white;
    border-right:  2px solid rgb(235, 235, 235);
    color: grey;
    justify-content: flex-end;
    align-items: center;
}
.header-row4{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%; 
    min-width: 20%;
    justify-items: center;
    flex: 2;
    gap: 2px;
    flex-wrap: wrap;
    background-color: white;
}
.login-button{
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    color: black;
    cursor: pointer;
    margin-left: 10px;
    font-size: 75%;
}
.signup-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 75%;
}
.header-item2-row1 span{
    cursor: pointer;
}
.header-item2-row1 span a{
    all: unset;
}
.header-item2-row1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width:  calc(100% / 3);
    height: 100%;
    font-size: 80%;
    flex-wrap: wrap;
    justify-items: center;
    flex: 1;
}
.header-item2-row2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width:  calc(100% / 3);
    height: 100%;
    font-size: 80%;
    flex-wrap: wrap;
    justify-items: center;
    flex: 1;
}
.header-item2-row2 span a{
    all: unset;
    cursor: pointer;
}
.header-item2-row3{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    min-width:  calc(100% / 3);
    height: 100%;
}
.cart-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 2% 30px;
    margin-left: 5px;
    display: inline-flex;
    align-items: center;
    margin-right: 17%;
    font-size: 70%;
    margin-bottom:5px;
    margin-top: 5px;
    cursor: pointer;
}
.instagram{
    margin-right: 5%;
    margin-left: 10%;
}
.facebook{
    margin-right: 5%;
    margin-left: 5%;
}
.pintrest{
    margin-right: 5%;
    margin-left: 5%;
}


.marquee-text {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.bold-words{
    font-weight: bold; 
    font-size: 90%;
}
.light-words{
    font-weight: 400;
    font-size: 80%;
}
.slash{
    font-size: 150%;
    font-weight: bold; 
    padding: 0px 8%;
} 
.imgs-container{
    position: relative; 
    width: 100%;
    height: 100%;
    
}
.imgs-container img{
    height: 100%;
    width: 100%;
    image-rendering: crisp-edges; /* For Chrome & Edge */ 
    image-rendering: -webkit-optimize-contrast; /* Safari */
    image-rendering: pixelated; /* For pixelated images */
    overflow:hidden;
    object-fit: cover;
}
.imgs-container {
position: relative;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.background-img {
width: 100%;
height: auto;
object-fit: cover;
display: block;
}

.overlay {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 95%;
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
color: white;
}

.text-content {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

.text-content div h1 {
font-size: 500%;
color: white;
margin-bottom: 0px;
text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4); 

}

.text-content div h6 {
font-size: 1.2em;
font-weight: 300;
margin-bottom: 30px;
color: #2C3930;
}

.buttons {
display: flex;
gap: 10px;
}

.button-shop{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 25px;
}
.button-view{
    background: rgba(f, f, f, 0.8);
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 25px;
}
.arrow {
background-color: black;
border: white;
font-size: 2em;
padding: 10px;
border-radius: 10px;
font-size: 100%;
text-align: center;
color: white;
align-items: center;
cursor: pointer;
height: 40px;
width: 40px;
box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}
.word-plus-arrow{
    display: flex;
    justify-content: center;
    align-items: center;

}
.word-plus-arrow img{
    margin-left: 5px;
}
/* card css  */

.cards-container{
    display: flex;
    background-color: white;
    height: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    /* Hide scrollbar in Firefox */
    scrollbar-width: none;
    gap: 25px;
    position: relative;
    
}
.card-button{
    position: sticky;
    top:50%;
    right:30px;
    height: 40px;
    padding: 15px;
    width: 70px;
    background-color: black;
    border-radius: 15px;
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.cards-container ::-webkit-scrollbar{
    width:0;
     /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE & Edge */
    display: none; /* Chrome, Safari, Edge */
}
.card{
    height: 75%;
    min-width: 300px;
    line-height: 120px;
    border-radius: 35px;
    box-shadow:  0px 3px 5px rgba(0, 0, 0, 0.3);
}
.card img{
    object-fit: cover;
    height: 100%;
    border-radius: 35px;
    position: relative;
    image-rendering: crisp-edges; /* For Chrome & Edge */ 
    image-rendering: -webkit-optimize-contrast; /* Safari */
    image-rendering: pixelated; /* For pixelated images */
}
.card-text-top{
    position: sticky; 
    bottom: 20%;
    height: 25%;
    width: 100%;
    font-size: 110%;
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8); 
    text-align: left;
    margin-left:15px ;
}
.card-text-bottom{
    position: sticky; 
    bottom: 15%;
    height: 25%;
    width: 100%;
    font-size: 90%;
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8); 
    text-align: left;
    margin-left:15px ;
}
/*  *********  */

/* footer css  */
.grid-item-footer hr {
    width: 85%; 
    border: 1px solid #505159;
    margin-bottom: 20px;
}

.footer-container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.footer-column{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.footer-span{
    color: #505159;
    font-size: 85%;
}
.footer-container hr{
    color: #505159;
    margin: 0px 20dvw;
}
.footer-social{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.footer-social i{
    color: #636579;
}
.footer-columns p{
    color: #636579;
    text-align: start;
    font-size: 85%;
    cursor: pointer;
}
.footer-columns p:hover{
    color: white;
}
.footer-columns .header{
    color: white;
    text-align: start;
    font-size: 120%;
    cursor: text;
}
.fa-brands.fa-youtube:hover{
    color: #FF0000;
    cursor: pointer;
}
.fa-brands.fa-facebook:hover{
    color: #1877F2;
    cursor: pointer;
}
.fa-brands.fa-instagram:hover{
    color: #C13584;
    cursor: pointer;
}
.fa-brands.fa-x-twitter:hover{
    color: grey;
    cursor: pointer;
}

/*  *********  */

/* content1 css */
.conetent1-header{
    display: inline-block;
    margin: 20px 1px; 
    white-space: nowrap;
    line-height: 0.2;
}
.conetent1-header hr{
    margin-bottom: 20px;
}
.conetent1-header p{
    font-weight: bold;
    font-size: 150%;
}
.content1-flex-container{
    display: flex;
    height: 50%;
    width: 80%;
    justify-content: space-evenly;
}
.content1-flex-columns{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    border: 1px solid #c5c5c5;
    background-color: #f1f1f1;
    align-items: center;
}
.content1-flex-columns img{
    margin-top: 20%;
    width: 35px;
    height: 25;
    margin-bottom: 20px;
}
.content1-flex-columns p{
    display: inline-block;
    margin: 0 5px; 
    white-space: nowrap;
    line-height: 1.5;
}
.content1-top-text{
    font-weight: bold;
}
.content1-bottom-text{
    font-weight: 400;
    font-size: 80%;
    color: grey;
}

#column1:hover{
    background-color: white;
}
#column2:hover{
    background-color: white;
}
#column3:hover{
    background-color: white;
}
#column4:hover{
    background-color: white;
}


/* ************ */

/* content2 css */
.content2-flex-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    height: 80%;
}
.content2-flex-container p{
    color: #888888;
    font-size: 150%;
    margin-top: 5%;
}
.form-button-row{
    display: flex;
    justify-content: center;

}
.form-button-row input{
    height: 35px;
    width: 30%;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    text-align: left;
    padding-left: 15px;
    border-right: none;
}
.form-button-row button{
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    color:white;
    background-color: black;
    width: 12%;
    border-left: none;
}
.content2-social{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.content2-social i{
    color: #636579;
    margin: 30px 20px;
}
#desktop {
    display: block;/* Show the desktop version */
  }
  
  #mobile {
    display: none; /* hide the  mobile version */
  }
/* ************ */
@media (max-width:783px){
    #desktop {
        display: none;  /* hide the desktop version */
      }
      #mobile {
        display: block; /* Show the mobile version */
      }
      .grid-container-mobile{
        height: 1500px;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 7% 35%  20% 20% auto; 
        align-content: flex-start;       
        background-color: white;       
    }
    .grid-item-header{
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .grid-item-images{
        position: relative;
    }
    .images-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .images-col{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        color: white;
        top:50px;
    }
    .images-col button{
        width: 25%;
        margin-top: 20px;
        padding: 10px;
        align-self: center;
        font-weight: bold;
        border-radius: 35px;
        cursor: pointer;
    }
    .images-col p{
        font-weight: lighter;
        font-size: 11px; 
        margin: 0px 120px;
    }
    .flex-header-item3 {
        height:40%;
        width: 100%;
        display: flex;
        background-color: black;
        color: white;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        border-bottom:#929fa3 ;
    }
    .marquee-text {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 20s linear infinite;
    }
    
}