.collectionsGridContainer {
    display: grid;
    min-height: 100dvh;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 10% 40px 850px 60px 370px;
    grid-template-areas: 
        "header"
        "path"
        "content"
        "space"
        "footer";
}
.gridItemSpace{
    grid-area: space;
}
.gridItemHeader {
    grid-area: header;
    height: 100%;
    width: 100%;
}

/* ********  Path  ********* */

.gridItemPath {
    grid-area: path;
    display: flex;
    justify-content: left;
}
.gridItemPath span{
    margin-top: 20px;
    font-size: 1.05dvw;
}
#span1{
    margin-left: 4%;
    cursor: pointer;
}
#span2{
    margin-left: 0.5%;
}
#span3{
    margin-left: 0.5%;
    cursor: pointer;
    color:#adadad;
}

/* ******** ****** ********* */

/* ******** Content ********* */
.gridItemContent {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 23% 77%;
}
.titleBox{
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: end;
}
.titleBox h1{
    font-weight: 900;
    font-size: 3dvw;
}
.titleBox p{
    font-size: 0.8dvw;
}
.imagesBox{
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    gap: 10px;
}
.imagesBox *{
    border-radius: 10px;
    width:100%;
    height:100%;
    object-fit:cover;
}
.img1{
    grid-row: 1/3;
    grid-column: 1/3;
}
.img2{
    grid-row: 3/5;
    grid-column: 1/3;
}
.img3{
    grid-row: 1/5;
    grid-column: 3/4;    
    position:relative;
}
.img3Text{
    position:absolute ;
    top: 50%;
    left:20px;
    color: #2C3930;
    background: rgba(255, 255, 255, 0.4); 
    backdrop-filter: blur(5px);
    width: 70%;
    height:100px;
    margin-left: 40px;
}
.img3Text p{
    text-align:center;
}
/* ******** ****** ********* */


/* ******** Footer ********* */
.gridItemFooter {
    grid-area: footer;
    background-color: #12131a;
}
.gridItemFooter hr {
    width: 85%; 
    border: 1px solid #505159;
    margin-bottom: 20px;
    margin-left: 8%;
  }
/* ******** ****** ********* */

#desktop {
    display: block; /* Show the desktop version */
}

#mobile {
    display: none; /* Hide the mobile version */
}

/* Special response code for header */
@media (max-width: 1068px) and (min-width: 783px) {
    /* Add responsive styles here if needed */
}

/* Mobile CSS code */
@media (max-width: 783px) {
    #desktop {
        display: none; /* Hide the desktop version */
    }
    #mobile {
        display: block; /* Show the mobile version */
    }
}
