.collectionsGridContainer {
    display: grid;
    height: 2400px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 10% 7% 50% auto auto;
    grid-template-areas: 
        "header"
        "cat"
        "cards"
        "paginator"
        "footer";
    gap: 30px;
}

.gridItemHeader {
    grid-area: header;
    height: 100%;
    width: 100%;
}

/* ******** Category ********* */

.gridItemCat {
    grid-area: cat;
}
.catRow{
    background-color: white;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
}
.catImgDiv{
    height:100%;
    width:180px;
    border-radius: 15px;
}
.catImg{
    width: 100%;
    object-fit:cover;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
}
/* ******** ******** ********* */


/* ******** **Cards* ********  */
.gridItemCards {
    grid-area: cards;
}
.cardsContainer{
    background-color: white;
    width: 85%;
    margin-left: 10%;
    height: 100%;
}

/* ******** **Card** ********  */
.cardContainer{
    height: calc(100%/2.4);
    width: calc(100%/3.5);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.cardArrowsIcon{
    width: 2.5em;
    height: 8%;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color:white;
    border: 2px solid #C0C0C0;
}
.inStock{
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    position: absolute;
    top: 15px;
    width: 29%;
    height: 8%;
    font-size: 10px;
    border-color: #E5E4E2;
    border-left: none;
    cursor:unset;
    font-weight: bold;
    pointer-events: none;
}
.cardImg{
    width: 100%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
    border-radius: inherit;
}
.cardColumn{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}
.cardSmallImgs{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: inherit;
}
.smallImgContainer{
    height: 100%;
    width: 70px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(198, 195, 189);
    overflow: hidden;
}
/* ******** ******** ********  */



/* ******** ******** ********  */


/* ******** Pagination ********* */
.gridItemPaginator {
    grid-area: paginator;
    background-color: white;
    align-content: center;
}
.containerPag{
    display: flex;
    width: 70%;
    height: 30%;
    justify-self: left;
    justify-content: space-evenly;
    border-radius: 5px;
    margin-left: 8.5%;
  }
.row1Pag{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: inherit;
  }
  .row1Pag span{
    margin-left:7%;
    font-size:75%;
    margin-right:3%;
}
  
.row2Pag{
    width: 60%;
    height: 100%;
    align-content: center;
    justify-content: space-around;
    display: flex;
    border-radius: inherit;
  }
  .row2Pag button{
    border: none;
    height: 70%;
    width: 60px;
    border-radius: 5px;
    align-self: center;
    font-weight: bold;
    background-color: white;
    border: 1px solid #b6b7bb;
  }
/* ******** ******** ********* */

/* ******** Footer ********* */
.gridItemFooter {
    grid-area: footer;
    background-color: #12131a;
}
.gridItemFooter hr {
    width: 85%; 
    border: 1px solid #505159;
    margin-bottom: 20px;
    margin-left: 8%;
  }
/* ******** ****** ********* */

#desktop {
    display: block; /* Show the desktop version */
}

#mobile {
    display: none; /* Hide the mobile version */
}

/* Special response code for header */
@media (max-width: 1068px) and (min-width: 783px) {
    /* Add responsive styles here if needed */
}

/* Mobile CSS code */
@media (max-width: 783px) {
    #desktop {
        display: none; /* Hide the desktop version */
    }
    #mobile {
        display: block; /* Show the mobile version */
    }
}
